<%= form_with model: @task do |f| %>
  <div class="mb-4">
    <%= f.label :title, "Name", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :title, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :description, "Description", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_area :description, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :email, "Email", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :email, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :position, "Position", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :position, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
  <%= f.label :todo_time, "Date", class: "block text-sm font-medium text-gray-700" %>
  <%= f.datetime_field :todo_time, 
      class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500", 
      min: Time.current.strftime("%Y-%m-%dT%H:%M"), # Sets the minimum to the current date/time
      size: 60 %>  <!-- Sets the size of the input field -->
</div>

  <div>
    <%= f.submit "Save", class: "w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  </div>
<% end %>
