
<li id="<%= dom_id(task) %>" class="flex justify-between items-center border-b border-gray-200 py-2 <%= 'completed' if task.completed %>">
  <div class="flex flex-col w-full items-start gap-2">
    <div>
      <div class="mb-4">
        <%= link_to task_path(task),data: { turbo_frame: "task_pages" },  class: "text-lg font-bold text-blue-500 hover:underline" do %>
          <strong><%= task.title %></strong>
        <% end %>

        <span class="text-2xl <%= task.completed ? 'text-green-500' : 'text-red-500' %>">•</span> 
      </div>

      <%= task.todo_time.strftime("%B %d, %Y %I:%M %p") if task.todo_time.present? %>
      <div><%= task.position %> - <%= task.description %></div>
    </div>
    <div class="flex gap-2 w-full justify-end">
      <div id="task_<%= task.id %>">
        <%= button_to toggle_task_path(task, filter: params[:filter]), 
              method: :patch, 
              remote: true, 
              class: "flex items-center bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 min-w-32 text-center items-center justify-center" do %>
          <span><%= task.completed ? 'Unmark' : 'Complete' %></span>
        <% end %>
      </div>

      <%= button_to 'ลบ', task_path(task), 
        method: :delete, 
        data: { confirm: "คุณแน่ใจไหม?" }, 
        remote: true, 
        class: 'pl-4 py-2 text-red-500 hover:underline' %>
      <%= link_to 'Edit', edit_task_path(task), 
            data: { turbo_frame: "task_pages" }, 
            class: 'pl-4 py-2 text-black-500 hover:underline' %>
  </div>
</li>