<div class="container min-h-[100vh] flex justify-center h-auto gap-4 flex-wrap">
  <div class="min-w-[40rem] h-auto flex flex-col max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h1 class="text-4xl font-bold mb-4 self-center text-blue-500">TODOS</h1>
    <%# <%= link_to 'สร้างงานใหม่', new_task_path, class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600' %> 
    <%= render "form", task: @task %>
  </div>
  <div class="min-w-[20rem] min-h-[45rem] flex flex-col max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h2 class="text-xl font-bold mb-4 text-blue-500">Tasks</h2>
    <ul class="mt-4">
      <% @tasks.each do |task| %>
        <li class="flex justify-between items-center border-b border-gray-200 py-2">
          <div class="flex items-center">
            <%= form_with(model: task, local: true) do |f| %>
              <div class="flex items-center mb-4">
                <%= f.label :completed, "ทำเสร็จแล้ว", class: "block text-sm font-medium text-gray-700 mr-2" %>
                <%= f.check_box :completed, class: "mt-1" %>
              </div>

              <div class="mb-4">
                <strong class="text-lg"><%= task.title %></strong> - <%= task.position %> - <%= task.todo_time %> - <%= task.completed ? "เสร็จแล้ว" : "ยังไม่เสร็จ" %>
              </div>

              <div>
                <%= f.submit "บันทึก", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
                <%= link_to 'ดู', task_path(task), class: 'text-blue-500 hover:underline' %>
                <%= link_to 'แก้ไข', edit_task_path(task), class: 'text-yellow-500 hover:underline' %>
                <%= link_to 'ลบ', task_path(task), method: :delete, data: { confirm: "คุณแน่ใจไหม?" }, class: 'text-red-500 hover:underline' %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<div>